{{- /*
  Obsidian-callout / GitHub-alert renderelés.
  Hely: themes/brtkcs/layouts/_default/_markup/render-blockquote.html
*/ -}}

{{- $labels := dict
  "summary" "Kivonat"
  "info"    "Részletek"
  "success" "Reflexió"
  "quote"   "Forrás"
  "links"   "Kapcsolódó"
  "todo"    "Teendők"
  "note"    "Megjegyzés"
  "tip"     "Tipp"
  "warning" "Figyelem"
  "caution" "Vigyázat"
  "important" "Fontos"
-}}

{{- if eq .Type "alert" -}}
  {{- $t := .AlertType -}}
  <div class="callout callout-{{ $t }}">
    <p class="callout-title">
      {{- with .AlertTitle }}{{ . }}{{ else }}{{ index $labels $t | default (title $t) }}{{ end -}}
    </p>
    <div class="callout-body">
      {{ .Text }}
    </div>
  </div>
{{- else -}}
  <blockquote>
    {{ .Text }}
  </blockquote>
{{- end -}}
